@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700&display=swap');

h1{
    font-style: normal;
}

.first-section{
    position:relative;
    background: #393B3F;
    color: #FFFFFF;
    height:800px;
}

.jumbotron > .title > h1{
    font-size: 7rem;
    margin: 0;
    font-style: normal;
}


.jumbotron{
    width: fit-content;
    margin-top:5em;
    margin-left: 10em;
    border-left: 8px solid #5973B6;
    padding-left:4em;
}
.jumbotron > .title{
    position:relative;
    border-bottom: 2px solid #FFFFFF;
    font-family: 'Inter', 'sans-serif';
    

}

#design-title{
    font-weight:400;
}

#ampersand-title{
    font-weight:100;
}

#architecture-title{
    font-weight: 700;
}

.jumbotron > .sub-titles{
    position:relative;
    margin-top:1em;
    padding: 0;
    display:flex;
    justify-content: space-between;
    
   
}

.jumbotron > .sub-titles > li {
    margin: 0;
}

.arrow{
    position:absolute;
    left:101%;
    top: 15%;
}

.down-arrow{
    position: absolute;
    left:50%;
    top:90%;
}



