
h1{
    font-style: normal;
}

.first-section{
    background: #393B3F;
    color: #FFFFFF;
    height:800px;
}

.jumbotron > .title > h1{
    font-size: 7rem;
    margin: 0;
    font-style: normal;
}


.jumbotron{
    width: fit-content;
}
.jumbotron > .title{
    position:relative;
    border-bottom: 2px solid #FFFFFF;
    

}

.jumbotron > .sub-titles{
    position:relative;
    margin: 0;
    padding: 0;
    display:flex;
    justify-content: space-between;
    
   
}

.jumbotron > .sub-titles > li {
    margin: 0;
}

.arrow{
    position:absolute;
    left:101%;
    top: 15%;
}



