*{
    z-index:100;
    position:relative;
}

.second-section-titles{
    position:relative;
    font-size: 1.5rem;
}

.second-section-titles > div{
    border-top: 1.5px solid #FFFFFF;
    border-bottom: 1.5px solid #FFFFFF;
    width:fit-content;
    width: -moz-fit-content;
}
.filters{
    width: -moz-fit-content;
    width:fit-content;
}
.filters > h1:first-child{
    margin-top:0;
    padding-bottom:1em;
    font-size:1.5rem;
    letter-spacing: 1px;
}
.filters > h2 {
    font-family: 'Inria Serif', sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    border-top: 1px solid #FFFFFF;
    padding: 1.5em 0 1.8em;
    margin: 0;
    font-size:1.3rem;
}

.filters > h2:last-child{
    border-bottom: 1px solid #FFFFFF;
}

.imgs-carousel{
    
    direction: rtl;
    flex-direction: column;
    position:relative;
    padding: 1em 0 1em;
    overflow:hidden;
    overflow-y: scroll;
    height:48.5em;
    padding-top:1em;
    padding-left:3em;
    scrollbar-width: thin;
}

.imgs-carousel > #borderTop{
    border-top: 1px solid rgb(229,229,229,.44);
    width:100%;
}

.imgs-carousel > #borderBottom{
    border-bottom: 1px solid rgb(229,229,229,.44);
    width:100%;
}
.imgs-carousel > div{
    margin-bottom:1em;
 
  

}
.imgs-carousel > div > img{
    
    direction: ltr;
    display: block;
    width:270px;
    height:auto;
}

.imgs-carousel > div:last-child{
   margin: 0;
}

.imgs-carousel > div > h3{
    bottom:2%;
}
.selections{
    margin-top:3em;
    flex-grow:0.1;
    display:flex;
    justify-content: space-between;
}


.container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-right:3em;
    margin-left:5em;
}


#custom-scrollbar::-webkit-scrollbar{
    width:5px;

    
}
#custom-scrollbar::-webkit-scrollbar-track{

    background-color: rgb(229,229,229,.44);
    border-radius:20px;
}

#custom-scrollbar::-webkit-scrollbar-thumb{

    background-color: #FFFFFF;
    border-radius:20px; 
}