*{
    scroll-behavior: smooth;
}

h1{
    font-style: normal;
    font-family: 'Inter', 'sans-serif';
}

.first-section{
    position:relative;
    background: #393B3F;
    color: #FFFFFF;
    min-height: fit-content;
    padding-bottom:15%;
}

.jumbotron{
    width: -moz-fit-content;
    width: fit-content; 
    margin-top:10em;
    margin-left: 9%;
    border-left: 8px solid #5973B6;
    padding-left:4em;
}

.jumbotron > .title > h1{
    font-size: 5rem;
    margin: 0;
    font-style: normal;
}



.jumbotron > .title{
    position:relative;
    border-bottom: 2px solid #FFFFFF;
  }

#design-title{
    font-weight:400;
}

#ampersand-title{
    font-weight:100;
}

#architecture-title{
    font-weight: 700;
}

.jumbotron > .sub-titles{
    position:relative;
    margin-top:1em;
    padding: 0;
    display:flex;
    justify-content: space-between;
    
   
}

.jumbotron > .sub-titles > li {
    margin: 0;
}

.arrow{
    position:absolute;
    left:101%;
    top: 15%;
}

.down-arrow{
    position: absolute;
    left:50%;
    top:90%;
}



