
.content{
    margin-top:5em;
}

.jumbotron{
    margin-top:0;
}

p{
    font-family: 'Inria Serif', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 1.5em;
    margin:0;
    width:40em;
    font-size:1rem;
 
}

.first-section{
    min-height:fit-content;
    padding-bottom:10%;
}

.account-actions{
    font-size:.9rem;
    font-family: 'Inria Serif', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;

    margin-top:6em;
}

.svg-icon{
    display: inline-flex;
    align-self: center;
    margin-left:.3em;
}


.svg-icon.svg-baseline{
    top: .125em;
    position:relative;
}
.profile{
    margin-right:5em;
    margin-top:2.5em;
}

.profile-info{
    padding: 0;
    margin-right:0;
    text-align:center;
}
ul.profile-info > li {
    margin-right:0;
    margin-top:1.05em;
}

.container{
    display:flex;
    justify-content: space-between;
    margin-top:10em;

}
